PM XML Schema.xml

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--ECS Payment Manager Payment XML Schema version 2010.06.02-->
  <xsd:element name="File">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="PmtRec"/>
        <xsd:element minOccurs="0" ref="FileInfoGrp"/>
      </xsd:sequence>
      <xsd:attribute name="CompanyID" use="optional"/>
      <xsd:attribute name="ProcessID" use="optional"/>
      <xsd:attribute name="DocumentType" use="optional"/>
      <xsd:attribute name="PmtRecCount" use="optional"/>
      <xsd:attribute name="PmtRecTotal" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PmtRec">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="RefInfo"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="IDInfo"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="DateInfo"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Message"/>
        <xsd:element minOccurs="0" ref="Check"/>
        <xsd:element minOccurs="0" ref="OrgnrParty"/>
        <xsd:element minOccurs="0" ref="RcvrParty"/>
        <xsd:element minOccurs="0" ref="DeliveryParty"/>
        <xsd:element minOccurs="0" ref="ReturnParty"/>
        <xsd:element minOccurs="0" ref="OrgnrDepAcctID"/>
        <xsd:element minOccurs="0" ref="RcvrDepAcctID"/>
        <xsd:element minOccurs="0" maxOccurs="2" ref="IntermediaryDepAcctID"/>
        <xsd:element minOccurs="0" ref="VendorParty"/>
        <xsd:element minOccurs="0" ref="PmtDetail"/>
        <xsd:element minOccurs="0" ref="DocDelivery"/>
        <xsd:element minOccurs="0" name="PDPHandlingCode"/>
        <xsd:element minOccurs="0" name="PmtID"/>
        <xsd:element minOccurs="0" ref="PmtSuppWTX"/>
        <xsd:element minOccurs="0" ref="PmtSuppFDM"/>
        <xsd:element minOccurs="0" ref="PmtSuppPOB"/>
        <xsd:element minOccurs="0" ref="PmtSuppCCR"/>
        <xsd:element minOccurs="0" ref="CurAmt"/>
        <xsd:element minOccurs="0" name="CurCode"/>
        <xsd:element minOccurs="0" name="PrcDate"/>
        <xsd:element minOccurs="0" name="ValueDate"/>
        <xsd:element minOccurs="0" name="RlsDate"/>
        <xsd:element minOccurs="0" ref="InvoiceMgr"/>
      </xsd:sequence>
      <xsd:attribute name="PmtFormat"/>
      <xsd:attribute name="PmtFormatIntl"/>
      <xsd:attribute name="PmtMethod" use="required"/>
      <xsd:attribute name="DeliveryMethod"/> 
      <xsd:attribute name="TranHandlingCode"/>
      <xsd:attribute name="InvoiceMgrFlag"/>
      <xsd:attribute name="PmtCrDr" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RefInfo">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RefID"/>
        <xsd:element minOccurs="0" name="RefDesc"/>
      </xsd:sequence>
      <xsd:attribute name="RefType" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="IDInfo">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ID"/>
      </xsd:sequence>
      <xsd:attribute name="IDType" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DateInfo">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Date"/>
      </xsd:sequence>
      <xsd:attribute name="DateType" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Message">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="MsgText"/>
      </xsd:sequence>
      <xsd:attribute name="MsgType" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Check">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" maxOccurs="1" name="ChkNum"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="ChkDocNum"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="ChkCtrlNum"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="CourierName"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="CourierAccount"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="DeliveryCode"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="OrgnrParty">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="Name"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="RefInfo"/>
        <xsd:element minOccurs="0" ref="PostAddr"/>
        <xsd:element minOccurs="0" ref="ContactInfo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DeliveryParty">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="Name"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="RefInfo"/>
        <xsd:element minOccurs="0" ref="PostAddr"/>
        <xsd:element minOccurs="0" ref="ContactInfo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReturnParty">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="Name"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="RefInfo"/>
        <xsd:element minOccurs="0" ref="PostAddr"/>
        <xsd:element minOccurs="0" ref="ContactInfo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="BankID"/>
  <xsd:element name="Name">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" maxOccurs="1" name="Name1"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="Name2"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="Name3"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PostAddr">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="Addr1"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="Addr2"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="Addr3"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="City"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="StateProv"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="PostalCode"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="Country"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="CountryName"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DepAcctID">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="BankInfo"/>
      </xsd:sequence>
      <xsd:attribute name="AcctID"/>
      <xsd:attribute name="AcctType"/>
      <xsd:attribute name="AcctCur"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="BankInfo">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="RefInfo"/>
        <xsd:element minOccurs="0" ref="PostAddr"/>
        <xsd:element minOccurs="0" ref="BankID"/>
      </xsd:sequence>
      <xsd:attribute name="Name"/>
      <xsd:attribute name="BranchID"/>
      <xsd:attribute name="BranchName"/>
      <xsd:attribute name="BankIDType"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RcvrParty">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="Name"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="RefInfo"/>
        <xsd:element minOccurs="0" ref="PostAddr"/>
        <xsd:element minOccurs="0" ref="ContactInfo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ContactInfo">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" maxOccurs="1" ref="PhoneNum"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="EmailAddr"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="URL"/>
      </xsd:all>
      <xsd:attribute name="Name"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PhoneNum">
    <xsd:complexType>
      <xsd:attribute name="PhoneType"/>
      <xsd:attribute name="Phone"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PmtDetail">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="InvoiceInfo"/>
        <xsd:element minOccurs="0" ref="Payroll"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InvoiceInfo">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="RefInfo"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Note"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="TaxInfo"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="InvoiceAdj"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="POInfo"/>
      </xsd:sequence>
      <xsd:attribute name="PmtActionCode"/>
      <xsd:attribute name="DiscountCurAmt"/>
      <xsd:attribute name="TotalCurAmt"/>
      <xsd:attribute name="NetCurAmt"/>
      <xsd:attribute name="WithdAmt"/>
      <xsd:attribute name="EffDt"/>
      <xsd:attribute name="InvoiceType"/>
      <xsd:attribute name="InvoiceNum"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CurAmt"/>
  <xsd:element name="TaxInfo">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" maxOccurs="1" name="OrgID"/>
        <xsd:element minOccurs="0" maxOccurs="1" ref="CurAmt"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="Rate"/>
      </xsd:all>
      <xsd:attribute name="TaxType"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InvoiceAdj">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="InvoiceAdjNum"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Note"/>
        <xsd:element minOccurs="0" ref="CurAmt"/>
        <xsd:element minOccurs="0" ref="EffDt"/>
        <xsd:element minOccurs="0" name="Desc"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="RAInfo"/>
      </xsd:sequence>
      <xsd:attribute name="AdjType"/>
      <xsd:attribute name="AdjNumType"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Payroll">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="Exemptions"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Message"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="AdditionalDetails"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Earnings"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="EarningsTotal"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Deductions"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="DeductionsTotal"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="AccountReporting"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="RefInfo"/>
      </xsd:sequence>
      <xsd:attribute name="PrdEndDate"/>
      <xsd:attribute name="PrdBeginDate"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Exemptions"> 
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" maxOccurs="1" name="StateExmpt"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="FedExmpt"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="WithholdStatus"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="WithholdAmt"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AdditionalDetails"> 
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" maxOccurs="1" name="Desc"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="Details"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Earnings"> 
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" maxOccurs="1" name="Hours"/>
        <xsd:element minOccurs="0" maxOccurs="1" ref="AmtGroup"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EarningsTotal"> 
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" maxOccurs="1" name="Hours"/>
        <xsd:element minOccurs="0" maxOccurs="1" ref="AmtGroup"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Deductions"> 
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="AmtGroup"/> 
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DeductionsTotal"> 
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="AmtGroup"/> 
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AccountReporting"> 
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" maxOccurs="1" name="CurrAmt"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="CurCode"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="ReasonCode"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="AcctID"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="BankIDType"/>
        <xsd:element minOccurs="0" maxOccurs="1" ref="BankID"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AmtGroup">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" maxOccurs="1" name="Desc"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="CurrAmt"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="YTDAmt"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FileInfoGrp">
    <xsd:complexType>
      <xsd:attribute name="FileDate" use="optional"/>
      <xsd:attribute name="FileTime"/>
      <xsd:attribute name="FileControlNumber" use="optional"/>
    	<xsd:attribute name="GroupControlNumber" use="optional" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="OrgnrDepAcctID">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="DepAcctID"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RcvrDepAcctID">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="DepAcctID"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="IntermediaryDepAcctID">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="DepAcctID"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="VendorParty">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="Name"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="RefInfo"/>
        <xsd:element minOccurs="0" ref="PostAddr"/>
        <xsd:element minOccurs="0" ref="ContactInfo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="POInfo">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" maxOccurs="1" name="PONum"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="Desc"/>
      </xsd:all>
      <xsd:attribute name="POType"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Note">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="NoteText"/>
      </xsd:sequence>
      <xsd:attribute name="NoteType" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RAInfo">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" maxOccurs="1" name="RANum"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="RADate"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="Desc"/>
      </xsd:all>
      <xsd:attribute name="RANumType"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DocDelivery">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="EDDBillerID"/>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="FileOut"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EDDBillerID"/>
  <xsd:element name="FileOut">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="FileType"/>
        <xsd:element minOccurs="0" name="FileFormat"/>
        <xsd:element maxOccurs="unbounded" ref="Delivery"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Delivery">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" maxOccurs="1" name="DeliveryType"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="DeliveryContactName"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="DeliveryFaxNumber"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="DeliveryEmailAddress"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="DeliveryUserID"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="DeliveryCompanyID"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="SecureType"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="SecureQuestion01"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="SecurePassword01"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="SecureQuestion02"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="SecurePassword02"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="ReceivingAddress1"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="ReceivingAddress2"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="ReceivingCity"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="ReceivingState"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="ReceivingZip"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="ReceivingCountry"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="ReceivingCountryCode"/>
      	<xsd:element minOccurs="0" maxOccurs="1" name=" DeliveryCode" />
				<xsd:element minOccurs="0" maxOccurs="1" name=" CourierAccount" />
			</xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EffDt"/>
  <xsd:element name="PmtSuppWTX">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" maxOccurs="1" name="LiabilityDate"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="AccessCode"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="Pin"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="StateFedCode"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="TaxAuthorityCode"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="TaxTypeCode"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="Amount1"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="AmountType1"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="Amount2"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="AmountType2"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="Amount3"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="AmountType3"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="Amount4"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="AmountType4"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PmtSuppFDM">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" maxOccurs="1" name="CardType"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="ExpDate"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="OrderFlag"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="EC"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PmtSuppPOB">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="OrigInvDate"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PmtSuppCCR">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" maxOccurs="1" name="PayeeType"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="ExpDate"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="MerchantID"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="MCCCode"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="Division"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InvoiceMgr">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="InvoiceMgrFlag"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>






























